.main-div{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.entire-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.bookmarked-title-list{
  background-color: gray;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: large;
}
.bookmarked-title-list-item{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}